// @font-face {
// 	font-family:'FontAwesome';
// 	src:url('fonts/fontawesome-webfont.eot?v=4.7.0');
// 	src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
// 		url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
// 		url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
// 		url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
// 		url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
// 	font-weight:normal;
// 	font-style:normal;
// }

@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('fonts/hinted-MyriadPro-Bold.eot');
	src: local('Myriad Pro Bold'), local('MyriadPro-Bold'),
		url('fonts/hinted-MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/hinted-MyriadPro-Bold.woff2') format('woff2'),
		url('fonts/hinted-MyriadPro-Bold.woff') format('woff'),
		url('fonts/hinted-MyriadPro-Bold.ttf') format('truetype'),
		url('fonts/hinted-MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Light';
	src: url('fonts/hinted-MyriadPro-Light.eot');
	src: local('Myriad Pro Light'), local('MyriadPro-Light'),
		url('fonts/hinted-MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/hinted-MyriadPro-Light.woff2') format('woff2'),
		url('fonts/hinted-MyriadPro-Light.woff') format('woff'),
		url('fonts/hinted-MyriadPro-Light.ttf') format('truetype'),
		url('fonts/hinted-MyriadPro-Light.svg#MyriadPro-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('fonts/hinted-MyriadPro-Regular.eot');
	src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
		url('fonts/hinted-MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/hinted-MyriadPro-Regular.woff2') format('woff2'),
		url('fonts/hinted-MyriadPro-Regular.woff') format('woff'),
		url('fonts/hinted-MyriadPro-Regular.ttf') format('truetype'),
		url('fonts/hinted-MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}























