//ANCHO

@media screen and (min-width: 1320px){
	
}

@media screen and (max-width: 1200px){
	nav ul li {
		padding: .5em 0;
	}
	.boxSlider .container {
		bottom: 0;
		.sliderExcerpt {
			padding: 1em;
		}
	}
}
@media screen and (max-width: 992px){

	header {
		.iconNav {
			display: block;
		}
	}
	
	nav {
		&.forDesktop {
			display: none !important;
		}
		&.submenu {
			margin-bottom: initial;
			ul.navbar-nav {
				flex-direction: row;
				justify-content: space-between;
				// justify-content: flex-start;
				flex-wrap: wrap;
				li {
					a {
						padding: 1em;
					}
				}
			}
		}
	}

	.navMobile {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow-y: auto;
		z-index: 999;
		// background: rgba(21,67,122, .95);
		background: $primary;
		width: 50%;
		padding: 1em;
		transform: translateX(-100%);
		transition: all ease-in-out .4s;
		&.show {
			transform: translateX(0);
		}
		.logo {
			display: block;
			// padding: 1em;
		}
		nav.forMobile {
			// display: block !important;
			.dropdown-toggle {
				font-size: initial;
			}
		}
	}
}

@media screen and (max-width: 768px){
	article {
		&.multimedia {
			.images .thumbnail {
				margin-top: initial;
				margin: 1em 0;
			}
			.videos {
				padding: 5em 0;
			}
		}
	}
}

@media screen and (max-width: 576px){
	.navMobile {
		width: 80%;
	}
	header {
		.logo {
			margin-top: 1em;
		}
		.breakTop {
			margin: 2em 0;
			.top-one {
				// flex-direction: column;
				flex-wrap: wrap;
				font-size: 1.2em;
				div {
					width: 100%;
				}
				.phone {
					margin-top: 1em;
					ul li {
						width: 100%;
					}
				}
			}
		}
	}
	article {
		&.vision .boxRight {
			padding-top: 4em;
			text-align: center;
		}
	}

	.boxSlider {
		.slick-slide {
			img {
				height: 35em;
				object-fit: cover;
			}
		}
		.container {
			.sliderExcerpt {
				max-width: 70%;
			}
		}
	}

	section {
		.accordionCustom {
			h5 {
				font-size: 1rem;
			}
		}
	}

	#footer {
		.lista {
			h5 {
				text-align: center;
				font-size: 1em;
				line-height: 100%;
			}
			ul {
				padding-left: 0;
				text-align: center;
				li {
					list-style-type: none;
				}
			}
		}
	}
}

@media screen and (max-width: 414px){
	.boxSlider {
		.container {
			bottom: 5em;
			.sliderExcerpt {
				max-width: 80%;
				div h2 {
					font-size: 1.5rem;
				}
			}
		}
		button {
			bottom: 1em;
			&.slick-prev {
				right: 15%;
			}
			&.slick-next {
				right: 6%;
			}
		}
	}
	section {
		.accordionCustom {
			h5 {
				font-size: 1em;
			}
		}
	}

	#footer {
		.lista {
			h5 {
				justify-content: center;
			}
		}
	}
}
















///////////////////////////////////////////////////////////////////////////////////
//ALTO
@media screen and (max-height: 730px){

}
@media screen and (max-height: 400px){

}
///////////////////////////////////////////////////////////////////////////////////
//MOBILE
@media screen and (max-width: 768px){
	
}
// ADDS
@media screen and (max-width: 375px){

}
@media screen and (max-width: 340px){

}
