//IMPORTACIONES
// @import 'normalize';
@import "_bootstrap.min";
@import "fonts";
@import "fa-brands";
@import "fa-regular";
@import "fa-solid";
@import "fa-svg-with-js";
@import "fontawesome-all";
@import "fontawesome";
@import "../../libs/slick/slick.css";
@import "tippy";
///////////////////////////////////////////////////////////////////////////////////
//COLORES
$hopbush: #B55994;
$frenchlilac: #FFD5FF;
///////////////////////////////////////////////////////////////////////////////////
//FUENTES
$bold: 'MyriadPro-Bold';
$light: 'MyriadPro-Light';
$regular: 'MyriadPro-Regular';


///////////////////////////////////////////////////////////////////////////////////
//FUNCIONES
@mixin centerscreen() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@mixin transition($transition) {
	transition: all ease-in-out $transition;
}

///////////////////////////////////////////////////////////////////////////////////
//ESTILO PLACEHOLDER

///////////////////////////////////////////////////////////////////////////////////
//ANIMACIONES

///////////////////////////////////////////////////////////////////////////////////
//ESTILOS

/*====================
ADD
====================*/

$white: #fff;
$black: #141414;
$yellow: #dcc380;
$orange: #FCAF17;
$red: #da251c;

$primary: #007cc2;
$secondary: #1340bb;


#idPreloader{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;

	// background: #33CCCC;
	background: #2D2F29;
	// background: -moz-radial-gradient(center, ellipse cover, #FFF 0%, #FB6472 100%);
	// background: -webkit-radial-gradient(center, ellipse cover, #FFF 0%, #FB6472 100%);
	// background: radial-gradient(ellipse at center, #FFF 0%, #FB6472 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#FB6472',GradientType=1 );
}



.bodySinScroll {
	overflow: hidden;
}
@mixin center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@mixin ulcero {
	ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}
}
// .container {
// 	width: 100%;
// 	max-width: calc(980px + 10%);
// 	margin: 0 auto;
// 	padding: 0 5% 0 5%;
// 	box-sizing: border-box;
// }

a {
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
	color: inherit;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&.btn {
		display: block;
		// background: $white;
		color: $black;
		padding: .5em 1em;
		width: 100%;
		max-width: 15em;
		margin: 0 auto;
		text-align: center;
		box-sizing: border-box;
	}
	&:hover {
		text-decoration: none;
	}
}

input {
	display: block;
	background: #fff;
	width: 100%;
	padding: .7em .5em;
	// border: 1px solid #d7d7d7;
	border: none;
	box-sizing: border-box;
	&[type="submit"] {
		-webkit-appearance: none;
		border-left: 0;
	}
	&:focus {
		outline: none;
		border-bottom: 1px solid rgba(52,91,119,.5);
		// box-shadow: inset 0 0 15px 0 rgba(52,91,119,.5);
	}
	&:hover {
		// box-shadow: inset 0 0 15px 0 rgba(52,91,119,.5);
		// border-bottom: 1px solid rgba(52,91,119,.5);
		transition: all ease-in-out .3s;
	}
	&.error {
		&:focus {
			box-shadow: inset 0 0 15px 0 rgba(255,0,0,.5);
			// box-shadow: inset 0 0 15px 0 red;
		}
	}
}


/*====================
MAIN
====================*/
html {
	overflow: hidden;
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Arial', Helvetica, sans-serif;
	height: 100%;
	overflow: auto;
	font-family: $light;
	color: #6a6a6a;
}

header {
	color: #acacac;
	.iconNav {
		display: none;
		i {
			font-size: 2em;
			padding: .5em 0 .5em .5em;
			cursor: pointer;
			&:hover {
				color: $primary;
			}
		}
	}
	.logo {
		display: block;
	}
	.top-one {
		@include ulcero;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: rgb(255,255,255);
		background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 100%);
		font-size: .8em;
		.redes {
			ul {
				display: flex;
				align-items: center;
				li {
					padding: 0 .25em;
					a {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 2em;
						height: 2em;
						padding: .25em;
						border: 1px solid #f2f2f2;
						border-radius: 50%;
						line-height: 100%;
						text-align: center;
					}
				}
			}
		}
		.search {
			position: relative;
			// max-width: 9em;
			width: 15em;
			input {
				padding-right: 1.5em;
				padding-left: 0;
				background: none;
				border-bottom: 1px solid rgba(52,91,119,.5);
			}
			i {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				height: 1em;
				font-size: 1.25em;
				color: #6a6a6a;
			}
		}
		.phone {
			ul {
				display: flex;
				li {
					color: #fff;
					padding: .8em 1em;
					font-weight: bold;
					line-height: 100%;
					&:first-child {
						background: #007cc2;
						i {
							transform: rotate(-45deg);
							font-size: 1.5em;
						}
					}
					&:last-child {
						background: #344d71;
						font-size: 1.25em;
					}
				}
			}
		}
	}
	.top-two {
		@include ulcero;
		margin: 1em 0;
		position: relative;
		z-index: 2;
		ul {
			display: flex;
			justify-content: flex-end;
			background: none;
			li {
				& > a {
					color: inherit !important;
				}
				a {
					display: block;
					padding: 1em;
					text-transform: uppercase;
					font-size: .8em;
					// font-weight: bold;
					font-family: $bold;
				}
				&:last-child {
					background: #f4f4f4;
				}
			}
		}
		nav {
			padding: 0;
			.dropdown-menu {
				margin-top: -2px;
			}
		}
	}
}

.navMobile {
	display: none;
}

nav {
	// @include ulcero;
	position: relative;
	z-index: 1;
	&.navbar {
		padding: 0;
		margin-top: 1.5em;
		margin-bottom: -1.5em;
	}
	ul {
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		width: 100%;
		background: $primary;
		li {
			padding: .5em 1em;
			& > a {
				// display: flex;
				// align-items: center;
				color: $white !important;
				text-transform: uppercase;
				font-size: .8em;
				font-family: $bold;
				// font-weight: bold;
				i {
					margin-right: .5em;
				}
			}
		}
	}
	.dropdown-toggle {
		&::after {
			content: none;
		}
		&::before {
			content: '\f0da';
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			margin-right: .25em;
			display: inline-block;
			transition: all ease-in-out .4s;
		}
		&[aria-expanded="true"] {
			&::before {
				transform: rotate(90deg);
			}
		}
	}
	.dropdown-item {
		&:hover {
			background-color: $primary;
			color: $white;
		}
	}
}

.boxSlider {
	// margin-top: -1.5em;
	// z-index: -1;
	.slick-slide {
		position: relative;
		img {
			width: 100%;
		}
	}
	.container {
		position: absolute;
		bottom: 1em;
		left: 0;
		right: 0;
		.sliderExcerpt {
			background: rgba(52,77,113, .5);
			max-width: 50%;
			padding: 2em;
			div {
				color: $white;
				h2 {
					font-family: $bold;
					text-transform: uppercase;
					line-height: 110%;
					a:hover {
						color: inherit;
						text-decoration: underline;
					}
				}
			}
			button.moreinfo {
				position: initial;
				background: $red;
				padding: .5em;
				font-family: $regular;
				&:hover {
					text-decoration: underline;
				}
			}
			ul.slick-dots {
				padding: 0;
				margin: 0;
				text-align: center;
				li {
					display: inline-block;
					padding: 0 .2em;
					line-height: 100%;
					list-style-type: none;
					&.slick-active {
						button {
							background: $red;
						}
					}
					button {
						position: initial;
						padding: 0;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background: $white;
						border: 0;
						-webkit-box-shadow: 1px 1px 5px 1px #000;
						box-shadow: 1px 1px 5px 1px #000;
						transition: .5s all ease-out;
						font-size: 0;
						&:hover {
							background: $red;
						}
						&:focus {
							outline: none;
						}
					}
					&:before {
						content: none !important;
					}
				}
			}
		}
	}
	button {
		position: absolute;
		bottom: 3em;
		background: $white;
		border: none;
		padding: 1em;
		line-height: 100%;
		z-index: 2;
		cursor: pointer;
		&:focus {
			outline: none;
		}
		&.slick-next {
			// background: $red;
			right: 12%;
			i {
				// color: $white;
			}
		}
		&.slick-prev {
			right: 15.7%;
		}
		i {
			font-size: 1.2em;
			color: inherit;
		}
		&:hover {
			background: $red;
			color: $white;
		}
		&.hover {
			background: $red;
			color: $white;
		}
	}
}

article {
	&.vision {
		padding: 5em 0;
		h2 {
			font-family: $bold;
		}
		img {
			width: 100%;
		}
		.readmore {
			padding: 1em 3em;
			text-transform: uppercase;
			font-family: $bold;
			font-size: .7em;
		}
	}
	&.multimedia {
		h2 {
			color: $white;
			font-family: $bold;
		}
		button {
			padding: 1em;
			line-height: 100%;
			font-family: $bold;
			text-transform: uppercase;
		}
		.videos {
			background: #344d71;
			padding: 5em 0 15em 0;
			img {
				width: 100%;
				max-width: 500px;
			}
		}
		.images {
			background: $white;
			padding-bottom: 5em;
			.thumbnail {
				margin-top: -7.5em;
				a {
					display: block;
				}
				img {
					width: 100%;
					max-width: 250px;
				}
			}
		}
	}
}

.breadcrumbCustom {
	background: #f1f6fa;
	padding: 3em 0 1em 0;
	font-size: .8em;
	font-family: $regular;
}

section {
	.content {
		background: #f1f6fa;
		position: relative;
		.bgWhite {
			position: absolute;
			top: 20%;
			right: 0;
			width: 45%;
			height: 15em;
			background: $white;
			// z-index: -1;
		}
	}
	.accordionCustom {
		padding: 2em 0;
		.card, 
		.card-header {
			border: none;
		}
		.card {
			margin-bottom: 1em;
		}
		.card-body {}
		h4 {
			font-family: $bold;
			color: $primary;
			margin: 1.5em 0 .5em 0;
		}
		h5 {
			display: flex;
			justify-content: space-between;
			align-items: center;

			overflow-wrap: break-word;
			word-wrap: break-word;
			hyphens: auto;
			button {
				display: flex;
				align-items: center;
				font-family: $bold;
				color: $black;
				font-size: 1.2em;
				span {
					display: block;
					// width: 6em;
					margin-right: 1em;
				}
				img {
					// margin-right: 1em;
				}
			}
		}
	}
	&.internacional {
		
	}
	&.asistencia {
		.content {
			// position: relative;
			// .bgWhite {
			// 	position: absolute;
			// 	top: 20%;
			// 	right: 0;
			// 	width: 45%;
			// 	height: 15em;
			// 	background: $white;
			// }
			h1 {
				margin: .5em 0;
				font-family: $bold;
				color: $black;
			}
			h2 {
				color: $primary;
				font-family: $bold;
			}
			.tarjetas {
				.card {
					height: 100%;
					border-radius: 0;
					border-color: #f1f6fa;
					.card-header {
						background: #f1f6fa;
						border: none;
						color: $primary;
						font-family: $regular;
					}
				}
			}
			&.bgNone {
				background: $white;
			}
		}
	}
	&.institucional {
		.nav-pills .nav-link.active, 
		.nav-pills .show > .nav-link {
			background-color: $red;
		}
		.nav-pills .nav-link {
			font-family: $regular;
		}
		.tab-pane {
			h3 {
				font-family: $bold;
				color: $black;
			}
		}
		.thumbnail {
			padding-top: 7em;
		}
	}
}

// FOOTER

#footer {
	background: #1f1a17;
	.lista {
		padding-top: 1em;
		padding-bottom: 0;
	}
	h5 {
		font-family: $bold;
		text-transform: uppercase;
		// min-height: 2rem;
		cursor: pointer;
		font-size: .7em;
		margin: 0;

		display: flex;
		i {
			padding-left: .5em;
		}
	}
	ul {
		// margin: 0 0 1em 0;
		margin: 0;
		padding: .5em 0 0 1em;
		max-height: 0px;
		overflow: hidden;
		transition: all ease-in-out .4s;
		text-align: left;
		&.show {
			max-height: 500px;
		}
		li {
			font-size: .7em;
			a {
				&:hover {
					color: $white;
				}
			}
		}
	}
	.contacto {
		@include ulcero;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $white;
		font-family: $regular;
		border-top: 1px solid #6a6a6a;
		border-bottom: 1px solid #6a6a6a;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		font-size: .8em;
		h5 {
			min-height: auto;
			margin: 0;
		}
		i {
			color: $red;
			padding-right: .25em;
			// font-size: .8em;
		}
		.redes {
			ul {
				display: flex;
				align-items: center;
				li {
					padding: 0 .25em;
					font-size: inherit;
					&:first-child {
						padding-left: 0;
					}
					a {
						// font-size: 1.25em;
					}
				}
			}
		}
	}
	.copy {
		p {
			margin: 0;
			padding: 1em 0;
			font-family: $regular;
			font-size: .7em;
			color: $white;
		}
	}
}


















///////////////////////////////////////////////////////////////////////////////////
//MEDIAQUERYS
@import "mediaquerys";
